{
    "presets": ["@volst/babel-preset-react-app"],
    "plugins": [
        [
            "babel-plugin-transform-runtime",
            {
                "helpers": true,
                "polyfill": true,
                "regenerator": true
            }
        ]
    ]
}
